body {
    height:100%;
    width:100%;
    font-size:16px;
    font-family: 'Droid Sans', sans-serif;
    text-rendering: optimizeLegibility;
}

.container {
    position: absolute;
    background-image: url("/static/imgs/water.jpg");
    height:100%;
    width:100%;
    background-size:100%;
}


#entry_list {
    position: relative;
    padding: 9px 9px 9px 9px;
    margin: 0 auto;
    max-height: 100%;
    overflow: scroll;
    width: 100%;
}

.entry {
    max-width:700px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: white;
    position: relative;
    overflow: hidden;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}

.entry p {
    height:150px;
    overflow: hidden;
    text-overflow:ellipsis;
    word-wrap:normal;
    margin: 10px 10px 10px 10px;
    font-size: 115%;
    line-height:150%;
    font-weight:100;
    color: #636363;
    float:right;
    
}

.img {
    width:100%;
}

.btn {
    color: blue;
    background-color:white;
    border: 1px solid blue;
    border-radius:0px;
}

.btn:hover {
    color:blue;
    border: 1px solid blue;
    background-color:white;
    background-image:none;
}

.header {
    margin-bottom: 9%;
}

.header p {
    color:black;
    font-size:100%;
}

.header h1 {
    font-size:400%;
}

body {
    overflow-y:scroll;
    -webkit-overflow-scrolling:touch;
}

.img-center {
    margin: 0 auto;
}
